<!doctype html>
<html lang="{{DEFAULT_LOCALE}}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0; url=/{{DEFAULT_LOCALE}}/" />
  <link rel="canonical" href="https://sourcelya.com/{{DEFAULT_LOCALE}}/" />
  <link rel="alternate" hreflang="es" href="https://sourcelya.com/es/" />
  <link rel="alternate" hreflang="en" href="https://sourcelya.com/en/" />
  <link rel="alternate" hreflang="x-default" href="https://sourcelya.com/{{DEFAULT_LOCALE}}/" />
  <title>Sourcelya</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
<body>
  <p>Redirecting to <a href="/{{DEFAULT_LOCALE}}/">sourcelya.com/{{DEFAULT_LOCALE}}/</a>&hellip;</p>
</body>
</html>
